@charset "utf-8";

#container
{
    z-index: 0;

}

#back-curtain
{
    background: rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 120%;
    z-index: 1;
}

<!-- 以下スライドショー用  -->
#slide
{
    position: relative;
}

.defaultImgCls
{
    max-width: 700px;
    margin: 0;
    padding: 10px 10px;
    position: fixed;
    display: none;
    z-index: 2;
}

.tempImg
{
    max-width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0 0 0;
    position: fixed;
}

.nav-r
{
    position: fixed;
    top: 470px;
    left: 1320px;
    padding: 20px 50px;
    font-size: 1.2em;

}

.nav-l
{
    position: fixed;
    top: 470px;
    left: 550px;
    padding: 20px 50px;
    font-size: 1.2em;
}

body
{
	padding-top: 25px;
}

a
{
    text-decoration: none;
}

article h1
{
    font-weight: bold;
    border-bottom: 1px solid #0f2525;
    border-left: 10px solid #0f2525;
    text-align: left;
    background-color: #fff;
    font-size: 30px;
    color: #000;
    margin-bottom: 10px;
    padding: 5px 0px 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

article h6
{
    font-size: 14px;
    display: inline;
}

.blog_date
{
  display:inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-bottom: 10px;
}

.blog_category
{
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.blog_author
{
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.send_view
{
    font-size: 18px;
    text-align: right;
    margin-top: 10px;
}

.form_info
{
    /*text-shadow:1px 1px 0 rgba(255,255,255,1);*/
    box-shadow:	0 5px 10px 0 rgba(0,0,0,0.2),
                20px 0 0 0 #0bd,
                -20px 0 0 0 #0bd;
    transform: rotate(-1deg) skew(-1deg);
    text-align: center;
    display: table-cell;
    font-size: 20px;
    background-color: #393737;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: : 20px;
    width: 300px;
    height: 30px;
}

a.btn.btn-info
{
    display: inline;
    font-size: 180%;
    width: auto;
    margin: 30px 10px;
}

.main_wrap
{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}

.heading
{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  background-color: #d6ffea;
  position: relative;
  padding-bottom: .5em;
  border-bottom: 4px solid #ccc;
}

.heading h1
{
    background-color: #d6ffea;
    font-size: 30px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
             0px -5px 16px rgba(255,255,255,0.3);
}

.heading_edit
{
    border-bottom: 1px solid #0066cc;
    border-left: 10px solid #0066cc;
    text-align: left;
    background-color: #fff;
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
    padding: 4px 4px 4px 30px;
    width: 1786px;

}

.heading_add
{
    border-bottom: 1px solid #00CCCC;
    border-left: 10px solid #00CCCC;
    text-align: left;
    background-color: #fff;
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
    padding: 4px 4px 4px 30px;
}

.heading_view
{
    border-bottom: 1px solid #000;
    border-left: 10px solid #000;
    text-align: left;
    background-color: #fff;
    font-size: 30px;
    color: #000;
    margin-bottom: 10px;
    padding: 4px 4px 4px 30px;
    font-weight: bold;
}

.text_main
{
    line-height: 180%;
    font-size: 22px;

}

.text_info
{
    line-height: 180%;
    font-size: 16px;
}

.text_info_category
{
  display:inline-block;
  vertical-align: middle;
}

.text_info_created
{
  display:inline-block;
  vertical-align: middle;
}

.text_info_tag
{
  display: inline-block;;
  vertical-align: middle;
}

.heading::after
{
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #3498db;
}


.box_indent
{
    width: 100px;
    height: 20px;
    background-color: transparent;
}

article
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    box-sizing: border-box;
}
#area_article
{
    /*width: 350px;
    height: 500px;*/
    background-color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 20px;
}

ul
{
    font-size: 12px;
}

.post_info
{
    overflow: hidden;
    margin: 5px 0;
    padding: 0;
}

a.post_link
{
    text-decoration: none;
}

.label_Novel
{
    /*width: 330px;*/
    height: 25px;
    font-size: 14px;
    background-color: #b8f7d8;
    border-left: 8px solid #2ad2ac;
    text-align: center;
}
.label_Music
{
    /*width: 330px;*/
    height: 25px;
    font-size: 14px;
    background-color: #c6ffff;
    border-left: 8px solid #2ab4d2;
    text-align: center;
}

.label_Trip
{
    /*width: 330px;*/
    height: 25px;
    font-size: 14px;
    background-color: #ffd0ff;
    border-left: 8px solid #c92ad2;
    text-align: center;
}

.label_Hobby
{
    /*width: 330px;*/
    height: 25px;
    font-size: 14px;
    background-color: #f7cfcf;
    border-left: 8px solid #d22a2a;
    text-align: center;
}

.label_Computers
{
    /*width: 330px;*/
    height: 25px;
    font-size: 14px;
    background-color: #fafab8;
    border-left: 8px solid #c8d22a;
    text-align: center;
}

.post_title
{
    /*width: 330px;*/
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    text-align: center;
}

#footer
{
    background-color: #101010;
    height: 60px;
    text-align: center;
}

#footer a
{
    color: #9d9d9d;
}

#footer p
{
    color: #9d9d9d;
}

.footer_list
{
    font-size: 0;
    margin-bottom: 10px;
}

.footer_list li
{
    display: inline-block;
    font-size: 12px;
    width: 25%;
}
@media (min-width: 900px)
{
    .main
    {
        width: 68%;
        float: left;
    }
}

@media (min-width: 900px)
{
    .side
    {
        width: 26.3%;
        margin-left: 5.7%;
        display:inline-block;
        float: right;
    }
}

article a img:hover
{
    border-color: #0bd;
}

article img
{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0 0 0;
    border: 5px #e0e0e0 solid;
}

@media (min-width: 900px)
{
    .fixed
    {
            position: fixed;
            top: 0px;
            max-width: 300px;
            margin-top: 80px;
    }
}

.side #popularList ul
{
    list-style: none;
    font-size: 100%;
}

.side #popularList li
{
    list-style: none;
    margin-bottom: 20px;
    line-height: 1.4em;
    font-size: 14px;
    overflow: hidden;
    background: #fff;
}

.side #popularList img
{
    float: left;
    height: auto;
    max-width: 100%;
    margin: 0 10px 0 0;
}

.side .popularListTitle
{
    width: 62%;
}

.side #samepostList ul
{
    list-style: none;
    font-size: 100%;
}

.side #samepostList li
{
    list-style: none;
    margin-bottom: 20px;
    line-height: 1.4em;
    font-size: 14px;
    overflow: hidden;
    background: #fff;
}

.side #samepostList img
{
    float: left;
    height: auto;
    max-width: 100%;
    margin: 0 10px 0 0;
}

.side .samepostListTitle
{
    width: 62%;
}

.zipcord_class
{
    margin-bottom: 5px;
}

.mail_class
{
    margin-bottom: 5px;
}

.btn-success
{
    background: #62af56;
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(98, 175, 86);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    border-color: #2d6324;
    border-top-color: rgb(45, 99, 36);
    border-right-color: rgb(45, 99, 36);
    border-bottom-color: rgb(45, 99, 36);
    border-left-color: rgb(45, 99, 36);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    padding: 8px 10px;
    margin: 5px 0px;
    display: inline;
    font-size: 110%;
    width: auto;

}

.btn-info
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #22b8d2;
    background-image: -webkit-linear-gradient(top, #6bbdbf, #307b82);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(98, 200, 194);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6bbdbf), to(#307b82));
    background-image: -webkit-linear-gradient(top, #6bbdbf, #307b82);
    background-image: -moz-linear-gradient(top, #6bbdbf, #307b82);
    border-color: #308580;
    border-top-color: rgb(36, 99, 99);
    border-right-color: rgb(36, 99, 99);
    border-bottom-color: rgb(36, 99, 99);
    border-left-color: rgb(36, 99, 99);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    padding: 8px 10px;
    margin: 10px 0px;;
    display: inline;
    font-size: 50%;
    width: auto;
}

.btn-warning
{
    background: #cad222;
    background-image: -webkit-linear-gradient(top, #bfb76b, #7e8230);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(200, 199, 98);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bfb76b), to(#7e8230));
    background-image: -webkit-linear-gradient(top, #bfb76b, #7e8230);
    background-image: -moz-linear-gradient(top, #bfb76b, #7e8230);
    border-color: #858530;
    border-top-color: rgb(96, 99, 36);
    border-right-color: rgb(96, 99, 36);
    border-bottom-color: rgb(96, 99, 36);
    border-left-color: rgb(96, 99, 36);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    padding: 8px 10px;
    margin: 10px 0px;;
    display: inline;
    font-size: 100%;
    width: auto;
}

.btn-primary
{
    background: #567caf;
    background-image: -webkit-linear-gradient(top, #6b92bf, #305b82);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(86, 175, 167);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6b92bf), to(#305b82));
    background-image: -webkit-linear-gradient(top, #6b92bf, #305b82);
    background-image: -moz-linear-gradient(top, #6b92bf, #305b82);
    border-color: #244563;
    border-top-color: rgb(36, 65, 99);
    border-right-color: rgb(36, 65, 99);
    border-bottom-color: rgb(36, 65, 99);
    border-left-color: rgb(36, 65, 99);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    padding: 8px 10px;
    margin: 10px 0px;;
    display: inline;
    font-size: 100%;
    width: auto;
}
 #searchFuncPush
 {
     font-size: 16px;
 }

#searchLink
{
    font-size: 12px;
}

#transition
{
    border-top: 2px solid #f6f6f6;
    padding-top: 30px;
    overflow: hidden;
    margin: 50px 0;
}

.view_next
{
    font-size: 18px;
    text-align: right;
    margin-top: 10px;
    float: right;
}

.view_prev
{
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    float: left;
}


@media (min-width: 900px)
{
    #comment h1
    {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.4;
        padding: 0 0 20px;
        border-bottom: 2px solid #f6f6f6;
        padding-top: 30px;
        overflow: hidden;
        margin: 30px 0;
    }
}

#comment h1
{
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.4;
        border-bottom: 2px solid #f6f6f6;
        padding: 0 0 20px;
        margin-bottom: 20px;
}

.comment_view li
{
    /*border-top: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;*/
    height: auto;
    padding: 10px 0px;
    margin-bottom: 30px;
    position: relative;
    list-style: none;
}

.commenter
{
    width: 35%;
    height: auto;
    float: left;
    text-align: center;
}

.comment-body
{
    width: 55%;
    height: auto;
    word-wrap: break-word;
    white-space: normal;
    display: block;
    float:left;
    text-align: left;
}
@media (min-width: 740px)
{
    .comment_view .btn-warning
    {
        background: #cad222;
        background-image: -webkit-linear-gradient(top, #bfb76b, #7e8230);
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(200, 199, 98);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#bfb76b), to(#7e8230));
        background-image: -webkit-linear-gradient(top, #bfb76b, #7e8230);
        background-image: -moz-linear-gradient(top, #bfb76b, #7e8230);
        border-color: #858530;
        border-top-color: rgb(96, 99, 36);
        border-right-color: rgb(96, 99, 36);
        border-bottom-color: rgb(96, 99, 36);
        border-left-color: rgb(96, 99, 36);
        color: #fff;
        text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
        padding: 8px 10px;
        margin: 10px;
        display: inline;
        font-size: 50%;
        margin-top: -8px;
        width: auto;

    }
}

.comment_header
{
    line-height: 1;
    font-size: 13px;
    padding-right: 46px;
    margin-bottom: 3px;
}

.reply_header
{
    line-height: 1;
    font-size: 13px;
    padding-right: 46px;
    margin-bottom: 3px;
}
.bullet
{
    padding: 0;
    color: #c2c6cc;
    line-height: 1.4;
}

.comment_author
{
    font-weight: 700;
    color: rgb(0, 187, 221);
}

.reply_author
{
    font-weight: 700;
    color: rgb(0, 187, 221);
}

.replyTo_author
{
    font-weight: 700;
    color: rgb(0, 187, 221);
}

.comment-wrapper
{
    box-sizing: border-box;
}

.File .form-control
{
    width: 98%;
}

.noThumbnail
{
    display: block;
    text-align: center;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 100px;
    height: 50px;
}

.comment_thumbnail
{
    display: block;
    text-align: center;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.comment_main
{
    font-size: 14px;
    margin-bottom: 10px;
}

.reply_main
{
    font-size: 14px;
    margin-bottom: 10px;
}

h6 a
{
    color: #0bd;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.text_info a
{
    color: #0bd;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.reply_form_container
{
    display: none;
    box-sizing: border-box;
}

.replyToReply_form_container
{
    display: none;
    box-sizing: border-box;
}

.reply_wrapper
{
    /*margin: 24px 0 0 60px;*/
    margin-top: 24px;
}

.replyTo .btn-success
{
    font-size: 80%;
}

.replyData
{
    margin: 24px 0 0 60px;
    box-sizing: border-box;
}

.reply_content
{
    margin-bottom: 30px;
}

.reply_indent
{
    margin: 24px 0 0 60px;
    box-sizing: border-box;
}

.side select
{
    width: 98%
}

.side ol
{
    font-size: 20px;
}

.side ol li
{
    font-size: 14px;
    margin-bottom: auto;
}

.side ol li a
{
    margin-bottom: auto;
}
<<<<<<< HEAD

.side ol li a span
{
    font-size: 12px;
    font-weight: normal;
}
=======
>>>>>>> 1175945240a56149f30e9c89d5f183beea8e831b
